{% extends "Staff/Staff_base.html" %}
{% block title %}SG Enable - Manage Products{% endblock %}
{% block content %}
<div class="d-flex flex-row justify-content-between mb-2 mt-3">
    <h1>Manage Products</h1>
    <a href="{{ url_for('create_product') }}" class="btn btn-success mr-3 d-flex align-items-center justify-content-center">
        <i class="fas fa-plus mr-1"></i> Add Product
    </a>
</div>

<div>
    {% if count > 0 %}
        <p>Displaying <strong>{{ count }}</strong> {{ 'product' if count == 1 else 'products' }}.</p>
    {% else %}
        <p class="text-danger">No products found.</p>
    {% endif %}
</div>

<div>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th class="align-middle">Product ID</th>
            <th class="align-middle">Product</th>
            <th class="align-middle">Description</th>
            <th class="align-middle">Price</th>
            <th class="align-middle">Image</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for product in product_list %}
            <tr>
                <td class="align-middle">{{ product.get_product_id() }}</td>
                <td class="align-middle">{{ product.get_product() }}</td>
                <td class="align-middle">{{ product.get_description() }}</td>
                <td class="align-middle">{{ product.get_price() }}</td>
                <td class="align-middle">
                    <a href="{{ url_for('static', filename='images/products/' + product.get_image_name()) }}" target="_blank" class="btn btn-warning px-3">
                        <i class="fas fa-image mr-1"></i>View Image
                    </a>
                </td>
                <td class="align-middle">
                    <a href="{{ url_for('update_product', id=product.get_product_id()) }}" class="btn btn-warning px-3">
                        <i class="fas fa-edit mr-1"></i>Edit
                    </a>
                </td>
                <td class="align-middle">
                    <form action="{{ url_for('delete_product', id=product.get_product_id()) }}" method="POST">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_{{ product.get_product_id() }}">
                            <i class="fas fa-trash-alt mr-1"></i>
                            Delete
                        </button>

                        <!-- Delete Confirmation Modal -->
                        <div class="modal fade" id="deleteModal_{{ product.get_product_id() }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel_{{ product.get_product_id() }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel_{{ product.get_product_id() }}">Delete Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        Are you sure you want to delete <strong>{{ product.get_product() }}</strong>?
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}